* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    width: 100%;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

.x-container {
    max-width: 1150px;
    margin: 0 auto;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.x-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
}

[class^='x-col-'] {
    padding: 15px;
    position: relative;
}

.x-col-12 {
    width: 100%;
    flex: 0 0 100%;
}

.x-col-6 {
    width: 60%;
    flex: 0 0 60%;
}

.x-col-50 {
    width: 50%;
    flex: 0 0 50%;
}

.x-col-4 {
    width: 25%;
    flex: 0 0 25%;
}

.x-col-40 {
    width: 40%;
    flex: 0 0 40%;
}

.x-col-3 {
    width: 33.33%;
    flex: 0 0 33.33%;
}

.x-col-5 {
    width: 20%;
    flex: 0 0 20%;
}

.x-col-30 {
    width: 30%;
    flex: 0 0 30%;
}

.x-col-70 {
    width: 70%;
    flex: 0 0 70%;
}

.header {
    background-color: rgba(10, 10, 10, 0.932);
    color: white;
    padding: 15px 10px;
}

.nav-logo h1 {
    font-size: 23px;
    color: rgb(187, 156, 116);

}

.navbar {
    display: flex;
    justify-content: space-between;
    /* display: flex; */
}

.subnav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.subnav ul li {
    margin: 8px;
    font-size: 14px;
    font-weight: 400;
}

#contbtn {
    background-color: rgb(187, 156, 116);
    /* color: #2e2e97; */
    color: black;
    border-radius: 3px;
    border: 1px solid white;
    padding: 6px 9px;
    font-weight: 700;
}

#contbtn:hover {
    /* color:rgb(187, 156, 116);
    background-color: white; */
    transition: all .3s ease-in-out;
    /* box-shadow: 5px 5px 5px 3px white; */
}

.homepage {
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-bottom: 50px;
}

.home-main {
    padding-top: 150px;
    width: 70%;
}

.content-home h3 {
    /* margin: 18px 0px; */
    margin-top: 18px;
}

#dynamic-text {
    margin-top: 10px;
    font-size: 30px;
    color: rgb(187, 156, 116);
}

.content-home p {
    font-size: 16px;
    margin: 15px 0px;
    word-spacing: 2px;
    line-height: 1.4;
}

#homeBtn {
    background-color: white;
    /* color: ; */
    padding: 10px 15px;
    /* border: 2px solid white; */
    border-radius: 8px;
    font-size: 18px;
    border: none;
    margin: 10px 0px;
}

#homeBtn a {
    color: black;
}

#homeBtn:hover {
    background-color: black;
    color: white;
    box-shadow: 5px 5px 10px 1px rgb(187, 156, 116);
    transition: all .2s ease-in;
    cursor: pointer;
}

#homeBtn:hover a {
    color: white;
}

.home-img img {
    /* border-radius: 16px; */
    width: 90%;
    /* height: 400px; */
    /* border-radius: 50%; */
}

.aboutme {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgb(23, 23, 23);
    color: white;
}

.top-head {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: rgb(187, 156, 116);
}

.top-head h1 {
    font-size: 30px;
}

/* .about-content{
    padding: 20px 0;
} */
.about-content h1 {
    margin: 16px 0;
}

.about-content span {
    color: rgb(187, 156, 116);
}

.about-content p {
    padding: 10px 0;
    word-spacing: 2px;
    line-height: 1.5;
    font-size: 16px;
}

.about-img {
    position: relative;
}

.about-img::before {
    content: "";
    position: absolute;
    height: 92%;
    width: 70%;
    border: 6px solid rgb(187, 156, 116);
    padding: 15px 10px;
    left: 3%;
    top: 3%;
}

.about-img img {
    width: 75%;
}

/* .skill{
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    background-color: rgba(24, 23, 23, 0.9);
 }
 .main-skill{
    padding: 20px 15px;
 }
 .main-skill h2{
    margin: 8px 0;
    font-size: 19px;
 }
 .main-skill p{
    line-height: 1.3;
    word-spacing: 2px;
 }
 .main-skill:hover{
    box-shadow: 10px 10px 10px silver ;
 } */
.experience {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgba(11, 11, 11, 0.909);
    color: white;
    /* background-image: url(juinor.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    position: relative; */
}
/* .experience::before{
    content: "";
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .5;
    position: absolute;
    top: 0;
    z-index: 99;
} */


.main-exp {
    padding: 20px 20px;
    align-items: center;
    width: 80%;
    /* text-align: center; */
    display: flex;
    justify-content: space-around;

}

.main-exp h1 {
    color: rgb(187, 156, 116);
    text-decoration: underline 1px solid rgb(187, 156, 116);
    font-size: 27px;
    margin: 15px 0;
}

.main-exp p {
    margin: 18px 0;
}

.exp-img {
    position: relative;
    left: 5%;
}

.exp-img img {
    border-radius: 3px;
    width: 200px;
    /* margin: 15px 0; */
    margin-bottom: 14px;
}

.achive {
    background-image: url(ach-bg.jpg);
    background-repeat: no-repeat;
    /* background-position: cover; */
    object-fit: cover;
    background-size: cover;
    width: 100%;
    color: white;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
}

.achive::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .5;
    z-index: 99;
    top: 0;
}

.main-key {
    position: relative;
    z-index: 9999;
    padding: 15px;
}

.top-head h1 {
    z-index: 9999;
    position: relative;
}

.main-key h1 {
    color: rgb(187, 156, 116);
    margin: 10px;
}

.main-key p {
    padding: 10px 15px;
    line-height: 1.5;
    font-size: 17px;
}
.s-icon a{
    color: rgb(187, 156, 116);
    font-size: 28px;
}
.top-head-last {
    display: flex;
    /* justify-content: left; */
    /* flex-direction: row; */
    align-items: center;
    font-size: 25px;
    color: rgb(187, 156, 116);
}
.footer{
    /* background-image: url(juinor.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    background-color: rgb(25, 25, 25);
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}


.blank {
    background-color: rgb(187, 156, 116);
    height: 2px;
    width: 10%;
    border-radius: 1px;
}


.contact {
    padding-top: 100px;
    padding-bottom: 30px;
    background-color: rgb(32, 32, 32);
    color: white;
}

.contact-i {
    padding: 15px 5px;
    background-color: rgb(72, 70, 70);
    border-radius: 8px;
    align-items: center;
    text-align: center;
}

.contact-i p {
    font-size: 12px;
}
.contact-i:hover >.s-icon>i{
    background-color: white;
    color: rgb(187, 156, 116);
    cursor: pointer;
    transition: all .4s ease-in-out ;
}
.foot{
    padding-top: 24px;
    padding-bottom: 0px;
}
.blank-foot {
    height: 1.5px;
    width: 480px;
    background-color: rgb(187, 156, 116);
    position: relative;
    left: 30%;
    border-radius: 3px;
}
.foot p{
    padding-top: 30px;
    font-size: 8px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    color: whitesmoke;
}
/* #img{
    width: 80%;
    position: relative;
    bottom: 20px;
} */


/* ball css */
/* #ball {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgb(187, 156, 116);
    border-radius: 50%;
    pointer-events: none;
    transition:  0.2s ease;
    opacity: 0;

} */


.hamburger {
    width: 40px;
    height: 40px;
    background:  transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;

}

.hamburger:hover span:nth-child(1) {
    margin-top: -8px;
    rotate: 140deg;
}

.hamburger:hover span:nth-child(2) {
    rotate: 40deg;
    display: none;
}

.hamburger:hover span:nth-child(3) {
    transform: rotate(40deg);
    margin-top: -8px;
}

.hamburger span {
    width: 70%;
    background-color: rgb(187, 156, 116);
    height: 5px;
    margin: 5px;
    border-radius: 10px;
    transition: all .3s;
}

.hamburger span {
    display: none;
}

.slide-bar {
    display: none;
}

@media screen and (max-width:780px) {

    .x-col-4,
    /* .x-col-50, */
    .x-col-40,
    .x-col-30 ,
    .x-col-5{
        width: 50%;
        flex: 0 0 50%;
    }

    .x-col-6,
    .x-col-70,
    .x-col-50{
        width: 100%;
        flex: 0 0 100%;
    }

    .subnav ul {
        display: none;
    }
    .hamburger,
    .hamburger span {
        display: block;
    }
    .about-img {
        margin-top: 30%;
    }
    .home-main{
        width: 100%;
    }

    .about-content p {
        line-height: 1.3;
        padding: 8px 0;
    }

    .about-content {
        padding: 0 0;
    }

    .main-exp {
        width: 100%;
    }
    /* .hamburger {
        display: block;
        position: relative;
        left: 100%;
        z-index: 2;
    } */

    .slide-bar {
        display: flex;
        flex-direction: column;
        width: 70%;
        background-color: rgb(187, 156, 116);
        color: white;
        position: absolute;
        z-index: 99999;
        top: 0;
        transform: translateX(-100%);
        opacity: 0;
        transition: all .3s;
        height: 100vh;

    }

    .slide-bar-active {
        transform: translateX(0%);
        opacity: 1;
    }

    .slide-bar-menu ul {
        display: flex;
        flex-direction: column;
        width: 70%;
        list-style: none;
        color: white;
        font-size: 27px;
        padding: 20px 10px;
    }

    .slide-bar-menu ul a {
        text-decoration: none;
        color: white;
    }

    .slide-bar-menu ul li {
        line-height: 2.4;
    }
    .blank-foot {
        height: 1px;
        width: 380px;
        background-color: rgb(187, 156, 116);
        position: relative;
        left: 10%;
    }
}

@media screen and (max-width:480px) {

    .x-col-4,
    .x-col-50,
    .x-col-6,
    .x-col-40,
    .x-col-70,
    .x-col-30,
    .x-col-5 {
        width: 100%;
        flex: 0 0 100%;
    }

    .subnav ul {
        display: none;
    }
    /* .hamburger {
        display: block;
        position: relative;
        left: 100%;
        z-index: 2;
    } */
    .hamburger,
    .hamburger span {
        display: block;
    }

    .slide-bar {
        display: flex;
        flex-direction: column;
        width: 70%;
        background-color: rgb(187, 156, 116);
        color: white;
        position: absolute;
        z-index: 99999;
        top: 0;
        transform: translateX(-100%);
        opacity: 0;
        transition: all .3s;
        height: 100vh;

    }

    .slide-bar-active {
        transform: translateX(0%);
        opacity: 1;
    }

    .slide-bar-menu ul {
        display: flex;
        flex-direction: column;
        width: 70%;
        list-style: none;
        color: white;
        font-size: 27px;
        padding: 20px 10px;
    }

    .slide-bar-menu ul a {
        text-decoration: none;
        color: white;
    }

    .slide-bar-menu ul li {
        line-height: 2.4;
    }
    .blank-foot {
        height: 1px;
        width: 280px;
        background-color:rgb(187, 156, 116);
        position: relative;
        left: 10%;
    }

    .home-main{
        width: 100%;
    }

    .main-exp {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .exp-img {
        display: none;
    }
   .blank-foot{
    left: 8%;
    width: 250px;
   }
   .home-main{
    padding-top: unset;
    padding-top: 120px;
   }

}